@import url(chrome/autohide_sidebar.css);
@import url(chrome/window_control_placeholder_support.css);
@import url(chrome/hide_tabs_toolbar.css);

#sidebar-box {
  --uc-sidebar-width: 38px;
  --uc-sidebar-hover-width: 200px;
  --uc-autohide-sidebar-delay: 100ms;
  --uc-autohide-transition-duration: 125ms;
  --uc-autohide-transition-type: ease-in;
}

/* Hide sidebar when fullscreen */
#main-window[sizemode="fullscreen"] #sidebar-box {
  --uc-sidebar-width: 0;
}

/* Remove toolbar padding beside window control when maximized */
:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-post: 0px;
}

/* Hide tab stash page action */
#pageAction-urlbar-tab-stash_condordes_net {
  display: none;
}

#sidebar-header {
  display: none;
}
