@media screen and (max-width: 40px) {
  #root {
    .main-items,
    #search_bar > :not(.search-icon) {
      visibility: hidden;
    }

    .scroll-container {
      scrollbar-width: none !important;
    }

    .Tab,
    .BookmarkNode .children {
      padding-inline-start: 0;
    }

    .Tab {
      .body::after {
        background-color: transparent;
        background-image: none;
      }

      &[data-pin="false"] .audio {
        top: 20% !important;
        left: 35% !important;
        filter: drop-shadow(0px 0px 1px var(--notification-bg));
      }
    }
  }
}

@media screen and (max-width: 60px) {
  #root {
    #search_bar > .clear-btn,
    .Tab .close {
      display: none;
    }
  }
}
